@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme('colors.brand.50');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.brand.400');
  border-radius: 9999px;
}
